/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(to right, turquoise, #8D1CEE);
    background-position: bottom;
    background-size: 100%; /* Ajuste o tamanho vertical para controlar a altura do degradê */
    background-repeat: no-repeat;
    background-attachment: fixed;
}